$shadowColor: #23235F30;
$textColor: #39414B;
$borderColor: #CFCFE4;
$backgroundColor: #FFFFFF;
$textActiveButtonColor: #FFFFFF;
$backgroundActiveButtonColor: #5FBF77;

$textFont: Nunito, sans-serif;
